.myInput {
  width: 100%;
  padding: 15px 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 20px;
    background: #e3e6ec;
    box-shadow: 8px 8px 12px rgba(209, 217, 230, 1),
                -8px -8px 12px rgba(255, 255, 255, 1),
                inset 0 0 12px rgba(209, 217, 230, 1),
                inset 0 0  12px rgba(255, 255, 255, 1);
    transition: .2s ease-in-out;
}

.myInput:focus {
  outline: none;
  box-shadow: 0px 0px 15px rgba(209, 217, 230, 1),
              0px 0px 15px rgba(255, 255, 255, 1),
              inset 10px 10px 15px rgba(209, 217, 230, 1),
              inset -10px -10px 15px rgba(255, 255, 255, 1);
}

.myInput::placeholder {
  font-style: italic;
}